<h1 class= "text-center pt-3 pb-3">Editing Group</h1>

<%= render 'form', group: @group %>
<%= link_to 'Back', groups_path, class:"btn btn-warning pt-2 mb-3 mx-3" %> |
<%= link_to 'Show', @group, class: "btn btn-info pt-2 mb-3 mx-3" %>
